.botao {	
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.03px;
    line-height: 18px;

    height: 47px;
    width: 115px;
    border-radius: 3px;
    background-color: #0B4874;
    border: 0 solid #0B4874;
}

mat-form-field {
    margin: 50px 20px;
}

.spinner-container {
    position: relative;
    top: 30px;
    left: 20px;
    width: 2%;
  
    .mat-spinner {
      width: 100% !important;
    }
  
    .mat-spinner ::ng-deep svg {
      width: 100% !important;
    }
  }